<!DOCTYPE html>
<html>
  <head>
    <title> Test </title>
  </head>
  <body>
    <p>Текст перед скриптом ...</p>
    
    <script>
    let n = +prompt();
    let matrix = [];
    for (let i = 0; i < n; i++) {
    matrix[i] = prompt().split(" ").map(el => +el);
    }
    console.log(matrix);
    matrix = matrix.flat();
    console.log(matrix);
    let average = matrix.reduce((a, b) => a + b) / matrix.length;

    for (let num of matrix) {
    num >= average ? console.log(num) : num; 
}
    </script>
    
    <p>Текст после скрипта ...</p>
  </body>
</html>